<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Video Edit
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar style="align-items: center;text-align:center;" >
      <ion-title size="large">Media Recorder</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <ion-button expand="full" (click)="pickVideo()" > Pick Video </ion-button>
    <ion-button expand="full" (click)="recordVideo()" > Record Video </ion-button>
  </div>
</ion-content>
